@import './reset.css';

.cp-container {
    padding: 20px;
    max-width: 1024px;
    margin: 0 auto;
}
ul {
    width: 100%;
}
li {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
button {
    padding: 10px 14px;
    border: 1px solid silver;
    border-radius: 6px;
    cursor: pointer;
    flex: 0 0 auto;
}
textarea {
    height: 44px;
    min-height: 44px;
    padding: 10px;
    border: 1px solid silver;
    border-radius: 6px;
    flex: 1 1 auto;
}
input {
    height: 44px;
    min-height: 44px;
    padding: 10px;
    border: 1px solid silver;
    border-radius: 6px;
    flex: 1 1 auto;
}
